<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>v-on 예제</title>
</head>
<body>
    <div id="app">
        <h3>클릭하면 1이 증가하는 예제</h3>
        <p>{{ count }}</p>
        <button v-on:click="countUp">1씩 증가</button>
        <hr/>

        <h3>클릭하면 두번째는 누를 수 없게 되는 버튼 예제</h3>
        <button value="good" v-bind:disabled="isClick" v-on:click="oneClick">좋아~</button>
        <hr/>

        <h3>클릭하면 지정된 값만큼 증가시키는 예제</h3>
        <p>{{ count2 }}</p>
        <button v-on:click="countUp2(3)">3증가</button>
        <button @click="countUp2(10)">10증가</button>
        <button @click="countUp2(100)">100증가</button>
        <hr/>

        <h3>엔터키를 누르면 알럿을 표시하는 예제</h3>
        <input type="text" v-on:keyup.enter="showAlert1" v-model="myText" />
        <p>{{ myText }}</p>
        <hr/>

        <h3>엔터키와 쉬프트키를 누르면 알럿을 표시하는 예제</h3>
        <input type="text" v-on:keyup.enter.shift="showAlert2" v-model="myText" />
        <p>{{ myText }}</p>


    </div>

    <script>
        function good(){
            alert('좋아~ 클릭');
        }

        new Vue({
            el: '#app',
            data: {
                count: 0,
                isClick: false,
                count2: 0,
                myText: 'Hello!'
            },
            methods: {
                countUp: function() {
                    console.log('hi');
                    this.count++;
                },
                oneClick: function() {
                    this.isClick = true;
                    good();
                },
                countUp2: function(value) {
                    this.count2 += value;
                },
                showAlert1: function() {
                    alert('enter key');
                },
                showAlert2: function() {
                    alert('shift key + enter key');
                }
            }
        })
    </script>

    <style>
        
    </style>
</body>
</html>